@tailwind base;
@tailwind components;
@tailwind utilities;

// AOS styles
$aos-distance: 10px;
@import 'node_modules/aos/src/sass/aos.scss';

// Socion Icons
@import '../external/socicon/css/styles.css';

// Mobirise Icons
@import '../external/mobirise-icons2/mobirise2.css';

// Heti Add-on
heti-spacing {
  display: inline;

  & + sup,
  & + sub {
    margin-inline-start: 0;
  }
}

.heti-spacing-start {
  margin-inline-end: 0.25em;
}

.heti-spacing-end {
  margin-inline-start: 0.25em;
}

heti-adjacent {
  display: inline;
}

.heti-adjacent-half {
  margin-inline-end: -0.5em;
}

.heti-adjacent-quarter {
  margin-inline-end: -0.25em;
}

@font-face {
  font-family: 'YSUMC';
  font-weight: 400;
  src:
    url(../fonts/YSUMC_tandard_Minecraft_Font.ttf) format(truetype),
    url(../fonts/YSUMC_tandard_Minecraft_Font.woff2) format(woff2);
  font-display: swap;
}

.font-ysumc {
  font-family: 'YSUMC', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f1f1f1;
  color: #3b3b3b;
}
